backend/BezPaleva/.idea/dataSources/76bd6743-af28-4977-aec5-434137c4aa53.xml
backend/BezPaleva/.idea/workspace.xml
backend/BezPaleva/target/BezPaleva-0.0.1-SNAPSHOT.jar
backend/BezPaleva/target/BezPaleva-0.0.1-SNAPSHOT.jar.original
backend/BezPaleva/target/classes/com/bezPalevaServer/Controllers/UserController.class
backend/BezPaleva/target/classes/com/bezPalevaServer/db/MarkRepository.class
backend/BezPaleva/target/classes/com/bezPalevaServer/db/User.class
backend/BezPaleva/target/classes/com/bezPalevaServer/db/UserRepository.class
backend/BezPaleva/target/classes/com/bezPalevaServer/Services/MarkService.class
backend/BezPaleva/target/classes/com/bezPalevaServer/Services/UserService.class
backend/BezPaleva/target/classes/static/assets/3.html
backend/BezPaleva/target/classes/static/assets/menu.html
backend/BezPaleva/target/classes/static/js/jscript.js
backend/BezPaleva/target/maven-archiver/pom.properties
backend/BezPaleva/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
backend/BezPaleva/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
backend/BezPaleva/target/surefire-reports/com.bezPalevaServer.BezPalevaApplicationTests.txt
backend/BezPaleva/target/surefire-reports/TEST-com.bezPalevaServer.BezPalevaApplicationTests.xml
backend/BezPaleva/target/*